exportPattern("^[[:alpha:]]+")
export("%>%")
export(scgmt)
export(scgmt_line_plot)
export(scgmt_merge_line_plot)
export(scgmt_heatmap_plot)
export(scgmt_scatter_plot)
export(scgmt_ridges_plot)
export(scgmt_density_plot)
export(scgmt_hierarchy_plot)
export(scgmt_hierarchy)
importFrom(magrittr,"%>%")
importFrom("grDevices", "colorRampPalette")
importFrom("stats", "aggregate", "median")
import(ggplot2)
importFrom(ggridges,geom_density_ridges_gradient)
importFrom(scales,hue_pal)
